.flex-property {
  display: flex;
}
.justify-content-center{
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.align-self-flex-end {
  align-self: flex-end;
}
body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

.font-roboto {
  font-family: 'Roboto Condensed', sans-serif;
}

.chat-container {
  height: 100vh;
}

.chat-header {
  height: 8vh;
  border-bottom: 1px solid #D5C5C8;
}

.flex-property {

}

.header-items {

}

.chat-logo {
  width: 30px;
  height: 30px;
}

.logo-img {

}

.chat-nav {
  list-style: none;
  height: 100%;
}

.chat-nav-item {
  text-transform: capitalize;
  height: 100%;
  color: #999;
  text-decoration: none;
  transition: .1s linear;
}

.chat-nav-item-open, .chat-nav-item:hover {
  border-bottom: 1px solid #736B60;
  color: #555;
}

.chat-msgs {
  position: relative;
  margin: 0 10px;
}

.msg-number {
  width: 20px;
  height: 16px;
  position: absolute;
  border-radius: 50px;
  right: -8px;
  top: -8px;
  background-color: #FC5979;
}

.chat-user-container {

}

.chat-username {

}

.chat-user-container img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.chat-content-container {
  height: 91.9vh;
}

.chat-side-container {
  border: 1px solid #D5C5C8;
  border-top: none;
}

.chat-side-container:first-child {
  border-left: none;
}

.chat-side-container:last-child {
  border-right: none;
}

.msg-search-bar {
  width: 99%;
  height: 10vh;
}

.msg-search-bar input {
  width: 100%;
  height: 50%;
  margin: 5px;
  border: 1px solid #D5C5C8;
  padding-left: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}

.msg-search-bar input::placeholder {
  text-transform: uppercase;
  color: #D5C5C8;
}

.chat-msg-container {
  height: 81.9vh;
  overflow-y: scroll;
}

.chat-user-item {
  width: 98%;
  padding: 10px 0 10px 5px;
  margin-right: 5px;
  transition: .1s linear;
  cursor: pointer;
}

.chat-user-item-open, .chat-user-item:hover {
  background-color: #e8dcdf;
}

.chat-user-img-container {
  position: relative;
}

.chat-user-img-container img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.user-item-text-container {

}

.user-item-name {
  text-transform: capitalize;
}

.user-item-last-msg {
  color: #736B60;
}

.chat-middle-container {

}

.chat-text-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.chat-item {
  margin: 20px 0px;
}

.chat-item-posted {
  flex-direction: row-reverse;
  margin: 20px 0px 10px;
}

.chat-item-posted .chat-text{
  border-radius: 15px;
  border-top-right-radius: 0px;
}

.chat-img-container {
  align-self: flex-start;
  position: relative;
}

.chat-img-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
  margin-top: 0px;
}

.chat-online-status {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid white;
  right: 0px;
  top: 0px;
}

.chat-img-container .chat-online-status {
  top: 2px;
  right: 6px;
}

.chat-online {
  background-color: #0cd80c;
}

.chat-offline {
  background-color: red;
}

.chat-text {
  max-width: 20vw;
  background-color: #e8dcdf;
  padding: 10px;
  border-radius: 15px;
  border-top-left-radius: 0px;
}

.chat-textarea-container {
  width: 100%;
  border-top: 1px solid #D5C5C8;
}

.chat-textarea-container textarea {
  resize: none;
  border: none;
  width: 97%;
  padding: 0;
  padding: 10px;
}

.chat-textarea-container textarea::placeholder {
  text-transform: uppercase;
}

.chat-icon-container {

}

.chat-icon-item {

}

.chat-profile-container {
  padding: 20px;
}

.chat-profile-nav {
  list-style: none;
  text-transform: capitalize;
}

.chat-profile-nav li {
  width: 100%;
  padding: 10px 0;
  color: #D5C5C8;
  border-bottom: 1px solid #D5C5C8;
  transition: .1s linear;
  cursor: pointer;
}

.chat-profile-nav li:hover {
  border-bottom: 1px solid #736B60;
  color: #736B60;
}

.chat-friend-container {
  padding: 20px 0;
}

.chat-friend-container img{
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
}

.chat-friend-text-container {

}

.chat-friend-name {
  text-transform: capitalize;
}

.chat-profile-icon{
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #D5C5C8;
  transition: .1s linear;
  text-decoration: none;
  color: black;
}

.chat-profile-icon:hover {
  background-color: #736B60;
  color: white;
}

.chat-ad-container {
  width: 300px;
  height: 250px;
  background-color: #999;
}













/**/
