button, input, textarea, a, select{
  outline: none !important;
}
button:hover{
}

ul{
  margin: 0px;
  padding: 0px;
}
a:hover{
  text-decoration: none !important;
}


 /* =========== colors ========= */

.logo-blue{
  color: #26b6d1;
}
.logo-blue-b{
  background-color: #26b6d1;
  color: white;
}
.black{
  color: black !important;
}
.white{
  color: white !important;
}
.light-gray{
 color: #c2c2c2;
}
.header-gray{
  background-color: #515151;
}
.dark-gray-t{
  color: #515151 !important;
}
.dark-gray{

}

.green{
 background-color: #55AC53;
 color: white;
}

.flat-gr-txt{
  color: #76ce96;
}
.flat-gr{
  background-color: #76ce96;
}
.red{

}

.yellow{

}
.blue-fat-title {
  font-weight: 600;
  color: #26b6d1;
  text-transform: uppercase;
}

.white-box{
  padding: 20px;
  background-color: white;
  /*border: 1px solid lightgray;*/
  box-shadow: 1px 1px 5px 1px lightgray;
}

/* =========== font sizes =========== */
.title-xxxl{
  font-size: 2.8em;
}

.title-xl{
  font-size: 1.4em;
}
.thin-title{
  font-weight: 300;
}
.bold-title{
  font-weight: bold;
}
.title-l{
  font-size: 1.1em;
}

.title-m{
  font-size: .9em;
}
.title-s{
  font-size: .8em;
}
.title-xs{
  font-size: .75em;
}
.center-title{
  text-align: center;
  width: 100%;
}

.links{
  text-decoration: none;
}

.tint{

}
.fa{

}


/* ========= flex sizes ========== */

.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}

.flex-3{
  flex: 3;
}

.flex-direction-column {
    flex-direction: column;
}

/* ========= padding sizes ========== */
.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}
.padding-left-5 {
  padding-left: 5px;
}
.padding-right-5 {
  padding-right: 5px;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-10 {
  padding: 10px !important;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-right-10 {
  padding-right: 10px;
}
.padding-top-10 {
  padding-top: 10px !important;
}
.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-right-15 {
  padding-right: 15px;
}

.padding-20 {
  padding: 20px;
}
.padding-left-20 {
  padding-left: 20px;
}
.padding-right-20 {
  padding-right: 20px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}


/* ========= margin sizes ========== */
.margin-0 {
  margin: 0px !important;
}

.margin-5 {
  margin: 5px;
}
.margin-left-5 {
  margin-left: 5px !important;
}
.margin-right-5 {
  margin-right: 5px !important;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-10 {
  margin: 10px;
}
.margin-left-10 {
  margin-left: 10px !important;
}
.margin-right-10 {
  margin-right: 10px !important;
}
.margin-top-10 {
  margin-top: 10px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-20 {
  margin: 20px;
}
.margin-left-20 {
  margin-left: 20px;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-top-20 {
  margin-top: 20px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}

/* flex */

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}
